body {
  background-image: url("img/'9106e9b6.png'");
}

#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
  width: 100%;
}

.to-Word {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: #ffff84;
  font-family: "Courier New";
  font-size: 90px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 70px;
  color: #33333b;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: 2px 2px 5px #c4c4c4;
          box-shadow: 2px 2px 5px #c4c4c4;
}

.do-Word {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background-color: #b8ffed;
  font-family: "Lucida Handwriting";
  font-size: 80px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 70px;
  color: #33333b;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: 2px 2px 5px #c4c4c4;
          box-shadow: 2px 2px 5px #c4c4c4;
}

.list-Word {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: #ffdcf6;
  font-family: "Verdana";
  font-size: 70px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 70px;
  color: #33333b;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: 2px 2px 5px #c4c4c4;
          box-shadow: 2px 2px 5px #c4c4c4;
}

#add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

#add input {
  padding: 10px;
  border: 1px solid #5e5e5e;
  border-radius: 10px;
}

#add button {
  background-color: white;
  color: #5e5e5e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border: 2px solid #5e5e5e;
  border-radius: 10px;
  padding: 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid #5e5e5e;
  margin-left: 2px;
}

#add button:hover {
  background-color: #5e5e5e;
  color: white;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 50px 0px 50px;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  font-weight: 100;
  font-size: 13px;
}

#search input {
  padding: 5px;
  border: 1px solid #5e5e5e;
  border-radius: 10px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Verdana';
  font-weight: 100;
  font-size: 25px;
  padding: 20px;
  margin: 10px 50px 0 0;
  -webkit-box-shadow: 2px 2px 5px #bdbdbd;
          box-shadow: 2px 2px 5px #bdbdbd;
  background-color: white;
  border: 1px solid #b8b8b8;
}

.checkbox {
  margin-right: 30px;
  -webkit-transform: scale(2.7);
          transform: scale(2.7);
}

.removeButton {
  background-color: white;
  color: #5e5e5e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border: 2px solid #5e5e5e;
  border-radius: 10px;
  padding: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.removeButton:hover {
  background-color: #db4343;
  color: white;
  border: 2px solid #db4343;
}

.fa-trash-alt {
  padding: 1em;
}
/*# sourceMappingURL=style.css.map */